<h2 class="u-ttb2">CSS规范 - 优化方案</h2>
<div class="u-line"><span class="linea"></span><span class="lineb"></span></div>
<dl>
    <dt>值缩写</dt>
    <dd>
        <p>缩写值可以减少CSS文件大小，并增加可读性和可维护性。</p>
        <p>但并非所有的值都必须缩写，因为当一个属性的值缩写时，总是会将所有项都设置一遍，而有时候我们不希望设置值里的某些项。</p>
        <pre>
                            <code class="css">
/* 比如我们用下面这个样式来让某个定宽的容器水平居中，我们要的只是left和right，
 * 而top和bottom不是这个样式要关心的（如果设置了反倒会影响其他样式在这个容器上的使用），
 * 所以这时我们就不需要缩写
 */
.f-mgha{margin-left:auto;margin-right:auto;}
/* 比如下面这个模块的样式设置，我们确实需要设置padding的所有项，于是我们就可以采用缩写 */
.m-link{padding:6px 12px;}
                            </code>
                            </pre>

    </dd>
    <dt>图片优化</dt>
    <dd>
        <ul>
            <li>图像质量要求和图像文件大小决定你用什么格式的图片，用较小的图片文件呈现较好的图像质量。</li>
            <li>当图片色彩过于丰富且无透明要求时，建议采用jpg格式并保存为较高质量。</li>
            <li>当图片色彩过于丰富又有透明或半透明要求或阴影效果时，建议采用png24格式，并对IE6进行png8退化（或在不得已情况下使用滤镜）。</li>
            <li>当图片色彩不太丰富时无论有无透明要求，请采用png8格式，大多数情况下建议采用这种格式。</li>
            <li>当图片有动画时，只能使用gif格式。</li>
            <li>你可以使用工具对图片进行再次压缩，但前提是不会影响色彩和透明。</li>
        </ul>
    </dd>
    <dt>如果CSS可以做到，就不要使用JS</dt>
    <dd>
        <p>让CSS做更多的事，减轻JS开发量。</p>
        <ul>
            <li>用CSS控制交互或视觉的变化，JS只需要更改className。</li>
            <li>利用CSS一次性更改多个节点样式，避免多次渲染，提高渲染效率。</li>
            <li>如果你的产品允许不兼容低版本浏览器，那么动画实现可以交给CSS。</li>
        </ul>
    </dd>
    <dt>文件压缩</dt>
    <dd>
        <p>合理的书写CSS能很大程度上减少文件大小，当完成一个稳定的项目后，在不损坏文件内容的情况下，想尽一切办法压缩你的CSS，你可以借助压缩工具把注释和多余的空格、换行去掉。</p>
    </dd>
</dl>

